mixin annotation(heading, text, picture_src, position, id)
    div(id=id class="popup")
        
        div(class="popup_heading") 
            span(class="back_icon")
                img(src="../../control_graphic/back_icon.png")
            |#{heading}
            
            
        div(class="popup_body")
            p #{text}
            if picture_src != ''
                img(src=picture_src)

    //- Script to add element into aframe
    script.
        document.addEventListener("DOMContentLoaded", function() {
        var ascene = document.querySelector("a-scene");
            create_popup("#{id}", "#{position}", false);
        });
 