<div class="popup" id="annotation_window" > 
    <div id="current_edited"></div>
    <div>
            <button id="save_change" class="button">Make changes</button>
            <button id="discard_change" class="button">Discard changes</button>
    </div>

    <button id="make_gallery" class="button" onclick="AnnotationWindow.makeNewGallery()">Add gallery</button>
    <button id="edit_gallery" class="button" onclick="AnnotationWindow.editGallery()">Edit gallery</button>
    <form name="change_annotation" action="javascript:void(0);">
        <div>
        <label for="position_inp">Position: </label>
        <input type="text" name="position" id="position_inp">
        </div>
        <div>
        <label for="no_inp">Annotation number: </label>
        <input type="number" name="no" id="no_inp">
        </div>

        {{! text}}
        <span id="language_span">
            {{#each languages}}
                {{#if_equals @value ""}}
                    {{! language is empty, meaning not used, can skip }}
                {{else}}
                    {{! @key is the language}}
                    <div> <h4> {{@key}}: </h4></div>
                    <div>
                        <label for="heading_inp{{@key}}">Heading: </label>
                        <input type="text" name="heading" id="heading_inp{{@key}}">
                    </div>
                    <div id="editor{{@key}}"></div>
                {{/if_equals}}
            {{/each}}
        </div>
        {{! <div>
        <button id="copy_html" class="button">Kopírovat HTML</button>
        <button id="paste_html" class="button">Vložit HTML</button>
        </div>}}
        
    </form>
</div>