<img src="../control_graphic/right.png" id="control_trigger">

<div id="control_panel">
  <h3>{{getTranslation "cp_heading"}}</h3> 

  {{#if (notNullLanguages)}}
  <div class="item"> {{getTranslation "language_choice"}}
      <select id="lang_switch">
        {{{languageSwitch}}}
      </select>
    </form>
    
  </div>
  {{else}}
  {{/if}}

  <div class="item">{{getTranslation "cp_annot_switch"}}
    <label class="switch" id="change_visibility">
      <input type="checkbox" checked><span class="slider round"></span>
    </label>
  </div>
  <div class="item" id="gyroscope">{{getTranslation "cp_gyro"}}
    <label class="switch" id="switch_gyro">
      <input type="checkbox"><span class="slider round"></span>
    </label>
  </div>
  <div class="item" id="speed">{{getTranslation "cp_speed"}}
    <input class="speed_slider" type="range" value="40" min="5" max="130" step="1">
    <div id="speed_val">40</div>
  </div>
  <button class="item button" id="copy_pos" title="{{getTranslation "cp_copy_bin"}}">{{getTranslation "cp_copypos"}}</button>
  <div class="item" id="goto">{{getTranslation "cp_gotopos"}}
    <input type="text" id="user_pos">
    <button class="button" id="goto_pos">OK</button>
  </div>
  <button class="item button" id="help">{{getTranslation "cp_help"}}</button>
</div>