<div id="model_choices">
    <h3>Zvolte si kvalitu modelu</h3>
<form name="selection_form" action="javascript:void(0);" onsubmit="choose_model(event, {{model_scale}}, '{{model_rotation}}')">
    {{#each qualities}}
    <div class="model_choice">
        <input type="radio" id="model_choice{{@index}}" name="model" value="{{model_sr}}">
        <label for="model_choice{{@index}}">{{increment @index}}. model</label>
        {{#if_equals file_size ""}}
        {{else}}
        <p>
            <b>Velikost:</b> {{file_size}}
        </p>
        {{/if_equals}}
        <p>
            {{short_comment}}
        </p>
    </div>
    {{/each}}

    <input type="submit" value="OK">
</form>
</div>