<a-scene {{!cursor="rayOrigin:mouse" raycaster="objects: .clickable"}} vr-mode-ui="enabled: false" background=" color: {{background_color}}" joystick>
    {{#if orbit_control}}
        <a-entity id="camera_rig"></a-entity>
        <a-entity id="camera" camera=" active: true" look-controls orbit-controls=" target: 0 0 0; minDistance: 1; maxDistance: 50; initialPosition: {{camera_position}}; maxPolarAngle: 180"></a-entity>
        </a-entity>
    {{else}}
        <a-entity id="camera_rig">
            <a-entity id="camera" camera position="{{camera_position}}" default-position="{{camera_position}}" touch-controls="gyroEnabled:false" wasd-controls=" fly:true; acceleration:40"></a-entity>
        </a-entity>
    {{/if}}

    <a-entity raycaster="objects: [data-clickable]" id="raycaster" cursor="rayOrigin:mouse"></a-entity>
    {{!model id put instead using a function}}
    <!--<a-assets timeout="100000000">
        {{#if_equals model_src ""}}
        {{else}}
        <a-asset-item id="main_model" src="{{model_src}}"></a-asset-item>
        {{/if_equals}}
    </a-assets>
    {{#if_equals model_src ""}}
    {{else}}
    <a-entity my-gltf-model="{{model_src}}" id="gltf_model" big_model autoscale=" scale:{{model_scale}}; rotation: {{model_rotation}}"></a-entity>
    {{/if_equals}}-->
    <a-entity light="type: point; intensity: 1; distance: 100; decay: 2" position="0 0 0"></a-entity>
    <a-entity light="type: ambient; color: #CCC"></a-entity>
</a-scene>

<div class="popup" id="help_popup">
<div class="popup_heading"> <span class="back_icon"><img src="../control_graphic/back_icon.png"></span>Nápověda</div>
<div class="popup_body">
{{#if orbit_control}}
{{! here add language versions -- add helpers english tc}}
<p>{{getTranslation "hlp_together"}}</p>
<p><b>{{getTranslation "hlp_controls"}} </b>{{getTranslation "hlp_orbit_controls"}}</p>
<p>
    {{getTranslation "hlp_orbit"}}
</p>
</div>
</div>

{{else}}
<p>{{getTranslation "hlp_together"}}</p>
<p><b>{{getTranslation "hlp_controls"}} </b>{{getTranslation "hlp_normal_controls"}}</p>
<p>
    {{{getTranslation "hlp_normal_1"}}}
    </p>
<p>
    {{{getTranslation "hlp_normal_2"}}}
</p>
<p>
    {{{getTranslation "hlp_normal_3"}}}
</p>
</div>
</div>

<img id="home_button" title="{{getTranslation "home_button_txt"}}" src="../../control_graphic/home.png"></img>


{{/if}}